# =========================
# Python
# =========================

# Virtual environments
.venv/
venv/
backend/.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# React / Node
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Face Data / Private Data
# =========================

data/

# Local databases
*.db
*.sqlite
*.sqlite3